body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
section {
  zoom: 0.8;
  display: flex;
  width: 100%;
  border: 10px solid black;

}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
  width: 100%;
}

